ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: solid 1px lightgray;
  border-bottom: 0;
  margin: 0;
  background-color: white;
  min-height: 36px;
  background-color: rgb(240, 230, 211);
  padding-left: 10px;
  padding-right: 5px;
}

li > p {
  margin: 0;
  padding-left: 10px;
}

li > button {
  border-radius: 50%;
  background-color: rgb(143, 250, 197);
  cursor: pointer;
}

li > .completed {
  text-decoration: line-through;
}

.crossbutton {
  font-size: 25px;
  margin-left: auto;
}

.crossbutton:hover {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 12px;
  padding-right: 5px;
  border: solid 1px lightgray;
  background-color: #f0e6d3;
}

.buttons-container button {
  border: none;
  border-radius: 3px;
  background-color: rgb(253, 244, 222);
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
